html {
}

body {
    /*background: rgba(255, 255, 255, 1.0);*/
    background-image: linear-gradient(#f1f2f6, #d1d8e0, #778ca3d0, #4b6584);
    font-family: 'Lato', sans-serif;
    font-family: 'SolaimanLipi', serif;
    /*font-family: 'Open Sans', sans-serif;*/
    /*background: url("../../assets/bg/PaintSquares_1400x900.jpg") no-repeat center center fixed;*/
    /*background: url("../../assets/diary-page/old-paper-013.jpg") no-repeat center center fixed;*/
    /*background-size: cover;*/
}

h1, h2, p {
    color: #2f3542;
    letter-spacing: .05em;
    line-height: 2em;
    font-weight: 700;

}

#gotoTop {
    display: none;
    position: fixed;
    background-color: transparent;
    bottom: -37px;
    right: 0;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    opacity: .6;
}

#gotoTop:hover {
    opacity: 1;
    transition: opacity ease .5s;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-size: 14px;

}

.header {
    background-color: transparent;
    text-align: center;
    margin-top: 150px;
}

.main {
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    overflow: hidden;
    background-color: transparent;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2), 5px 6px 40px 10px rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1080px) {
    .main {
        width: 100%;
        transition: width ease .3s;
    }

}

.maintopic {
    padding: 40px;
    transition: all .2s;
}

.mainpara {
    padding: 40px;
    transition: ease all .2s;
}

.master-img {
}

.read-more {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    outline: none;
    color: #57606f;
}

.story-wrapper {
    width: 100%;
    margin-top: 80px;
}

@media screen and (max-width: 768px) {
    .story-wrapper {
        flex-wrap: wrap;
        margin: 0 auto;
    }
}

.story {
    max-width: 1440px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.stories {
    max-width: 350px;
    width: 100%;
    margin: 45px;
    background: transparent;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 480px) {
    .stories {
        margin: 10px;
    }
}

.storyheads, .thumbpara {
    padding: 20px;
}

.thumbpara {
    height: auto;
    font-size: 12px;
    text-decoration: none;
    text-shadow: none;
    color: black;
}

.preview-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 100px;
    /*max-height: 407px;*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .preview-wrapper {
        flex-wrap: wrap;
        margin: 0 auto;
    }
}

/*.thumbstories {*/
/*max-width: 840px;*/
/*width: 100%;*/
/*max-height: 366px;*/
/*padding: 20px;*/
/*display: flex;*/
/*flex-wrap: wrap;*/
/*}*/

/*@media screen and (max-width: 768px) {*/
/*.thumbstories {*/
/*overflow: hidden;*/
/*}*/
/*}*/

/*.block-reader {*/
/*max-width: 365px;*/
/*width: 100%;*/
/*max-height: 110px;*/
/*font-size: 12px;*/
/*margin-right: 10px;*/
/*margin-bottom: 22px;*/
/*text-decoration: none;*/
/*text-shadow: none;*/
/*color: black;*/
/*display: flex;*/
/*flex-wrap: nowrap;*/
/*background-color: transparent;*/
/*}*/

.block-thumbs {
    height: 110px;
    width: 110px;
    margin-right: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
}

.breakpoint {
    padding: 10px;
    margin: 0 auto;
}

/*.block-head {*/
/*font-size: 14px;*/
/*margin-right: 10px;*/
/*text-decoration: none;*/
/*color: #000;*/
/*font-weight: bold;*/
/*}*/

/*.block_para {*/
/*position: relative;*/
/*font-size: 12px;*/
/*}*/
/*strart of IBcontainer*/
.ib-container {
    position: relative;
    width: 100%;
    height: auto;
    /*max-height: 407px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    .ib-container {
        flex-wrap: wrap;
        margin: 0 auto;
    }
}

.ib-container:before,
.ib-container:after {
    content: "";
    display: table;
}

.ib-container:after {
    clear: both;
}

.ib-container article {
    max-width: 410px;
    height: auto;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    border: none;
    text-align: left;
    text-transform: none;
    margin: 0 auto;
    margin-bottom: 20px;
    z-index: 1;
    -webkit-transition: opacity 0.4s linear,
    -webkit-transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
    -moz-transition: opacity 0.4s linear,
    -moz-transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
    -o-transition: opacity 0.4s linear,
    -o-transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
    -ms-transition: opacity 0.4s linear,
    -ms-transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
    transition: opacity 0.4s linear,
    transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;

}

.ib-container h3 a {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    color: rgba(0, 0, 0, 1);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
    opacity: 0.8;
}

.ib-container article p {
    font-family: Verdana, sans-serif;
    font-size: 10px;
    line-height: 13px;
    color: #333;
    color: rgba(51, 51, 51, 1);
    text-shadow: 0px 0px 0px rgba(51, 51, 51, 1);
    opacity: 0.8;
}

.ib-container h3 a,
.ib-container article header span,
.ib-container article p {
    -webkit-transition: opacity 0.2s linear,
    text-shadow 0.5s ease-in-out,
    color 0.5s ease-in-out;
    -moz-transition: opacity 0.2s linear,
    text-shadow 0.5s ease-in-out,
    color 0.5s ease-in-out;
    -o-transition: opacity 0.2s linear,
    text-shadow 0.5s ease-in-out,
    color 0.5s ease-in-out;
    -ms-transition: opacity 0.2s linear,
    text-shadow 0.5s ease-in-out,
    color 0.5s ease-in-out;
    transition: opacity 0.2s linear,
    text-shadow 0.5s ease-in-out,
    color 0.5s ease-in-out;
}

/* Hover Style for all the items: blur, scale down*/
.ib-container article.blur {
    /*box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 1);*/
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7;
}

.ib-container article.blur h3 a {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0);
    opacity: 0.5;
}

.ib-container article.blur header span {
    text-shadow: 0px 0px 10px rgba(255, 210, 82, 0.9);
    color: rgba(255, 210, 82, 0);
    opacity: 0.5;
}

.ib-container article.blur p {
    text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
    color: rgba(51, 51, 51, 0);
    opacity: 0.5;
}

/* Hover Style for single item: scale up */
.ib-container article.active {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    /*box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 1),*/
    /*1px 11px 15px 10px rgba(0, 0, 0, 0.4);*/
    z-index: 100;
    opacity: 1;
}

.ib-container article.active h3 a,
.ib-container article.active header span,
.ib-container article.active p {
    opacity: 1;
}

/*end of IBcontainer*/

.about {
    max-width: 540px;
    width: 100%;
    max-height: 500px;
    margin-right: 10px;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .about {
    }
}

.end {
    width: 100%;
    height: auto;
    margin-top: 80px;
}

@media screen and (max-width: 768px) {
    .end {
        margin: 0 auto;
    }
}

.ql-arch-wrapper {
    width: 30%;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .ql-arch-wrapper {
        margin: 0 auto;
        width: 100%;
    }
}

.social {
    list-style: none;
    margin-left: 0;
}

/*--contact--*/
.contact-section {
    position: relative;
    width: 100%;
}

@media screen and (max-width: 768px) {

    .contact-section {
        width: 100%;
    }
}

/* Forms
---------------------------------- */
#contact-form {
    max-width: 90%;
    margin: 0 auto;
}

label {
    font-weight: 900;
    cursor: pointer;
}

textarea,
input {
    border: none;
    outline: none;
    border-radius: 0;
    text-align: center;
    background: none;
    font-weight: 700;
    font-size: 25px;
    color: rgba(53, 59, 72, 1.0);
    max-width: 90%;
    padding: 1rem;
    border: 2px dashed rgba(255, 255, 255, 0);
    box-sizing: border-box;
    cursor: text;
}

textarea {
    text-align: left;
    /* overflow:hidden; */

    resize: none;
    width: 90%;
    border-color: rgba(255, 255, 255, 0)
}

textarea:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px dashed rgba(255, 255, 255, 1);
}

textarea:focus:required:valid {
    border: 2px solid rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

textarea:required:valid {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input {
    border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:required,
textarea:required {
    border-bottom: 2px dashed rgba(45, 52, 54, 1.0);
}

input:focus {
    border-bottom: 2px dashed rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.2);
}

input:required:valid {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input:required:invalid {
    color: rgba(45, 52, 54, 1.0);;
}

::-webkit-input-placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    font-weight: 400;
}

:-moz-placeholder {
    /* Firefox 18- */

    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    font-weight: 400;
}

::-moz-placeholder {
    /* Firefox 19+ */

    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    font-weight: 400;
}

:-ms-input-placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    font-weight: 400;
}

.expanding {
    vertical-align: top;
}

.send-icn {
    fill: rgba(45, 52, 54, 1.0)
}

.send-icn:hover {
    fill: rgba(25, 42, 86, 1.0);
    cursor: pointer;
}

.bttn {

}

#send-icn {
}

#send-icn:hover {
    transform: skew(-18deg, 9deg);
    cursor: pointer;
}

button {
    background: none;
    border: none;
    outline: none;
    margin: 2vmax;
}

button:hover small {
    opacity: 1;
}

small {
    display: block;
    opacity: 0;
}

/* Forms ends
---------------------------------- */

/*Sticky Navigation*/
.sticky_navigation {
    z-index: 300;
    display: flex;
    position: fixed;
    background-color: rgba(255, 255, 255,.4);
    /*background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);*/
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2), 5px 6px 40px 10px rgba(0, 0, 0, 0.19);
    width: calc(100% - 140px);
    height: 80px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#nav_logo {
    padding: 15px;
    cursor: pointer;
}

#nav-content {
    position: absolute;
    right: 0px;
    font-size: 16px;
    font-weight: 700;
    list-style: none;
    padding: 31px 40px;
}

#nav-content a {
    text-decoration: none;
    color: #1e272e;
    padding-left: 30px;
    height: 18px;
    line-height: 18px;
    text-shadow: 0px 1px 10px rgb(255, 255, 255, 0.5);
}

#nav-content a:hover {
    color: #EEEEEE;
    font-size: 22px;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    transition: font-size ease .5s;
}

/* Modal Menu */
.overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
}

#span_button {
    display: none;
}

/*Sticky Navigation ends*/
footer {
    width: 100%;
    background: transparent;
    box-shadow: 0px -5px 20px -6px rgba(0, 0, 0, 0.19);
}

.foot-kala {
    max-width: 1440px;
    margin: 0 auto;
    height: auto;
    padding: 10px;
    color: #9d9fa2;
}

.s-footer__main {
    margin-bottom: 3.6rem;
}

/* -------------------------------------------------------------------
 * ## footer link list
 * ------------------------------------------------------------------- */
.s-footer__linklist {
    list-style: none;
    margin-left: 0;
}

.s-footer__linklist a {
    color: #57606f;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px rgba(112, 161, 255, .8);

}

.s-footer__linklist li {
    padding-left: 0;
}

/* -------------------------------------------------------------------
 * ## subscribe form
 * ------------------------------------------------------------------- */
.s-footer__subscribe .subscribe-form {
    margin: 0;
    padding: 0;
    position: relative;
}

.s-footer__subscribe #mc-form {
    width: 100%;
}

.s-footer__subscribe #mc-form input[type="email"] {
    width: 100%;
    height: 5.4rem;
    font-size: 1.5rem;
    padding: 1.2rem 100px 1.2rem 60px;
    background: url(../../assets/ico/email2.png) 20px center no-repeat, rgba(0, 0, 0, 0.1);
    background-size: 24px 16px, auto;
    margin-bottom: 1.8rem;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    border: none;
}

.s-footer__subscribe #mc-form input[type="email"]:hover,
.s-footer__subscribe #mc-form input[type="email"]:focus {
    color: #FFFFFF;
}

.s-footer__subscribe #mc-form input[type="email"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.s-footer__subscribe #mc-form input[type="email"]:-moz-placeholder {
    color: rgba(255, 255, 255, 0.2); /* Firefox 18- */
}

.s-footer__subscribe #mc-form input[type="email"]::-moz-placeholder {
    color: rgba(255, 255, 255, 0.2); /* Firefox 19+ */
}

.s-footer__subscribe #mc-form input[type="email"]:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.s-footer__subscribe #mc-form input[type="email"].placeholder {
    color: rgba(255, 255, 255, 0.2) !important;
}

.s-footer__subscribe #mc-form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    color: #FFFFFF;
    background: #0054a5;
    border-color: #0054a5;
    padding: 0 15px;
    border-radius: 0 3px 3px 0;
}

.s-footer__subscribe #mc-form label {
    color: #FFFFFF;
    font-family: "metropolis-regular", sans-serif, sans-serif;
    font-size: 1.3rem;
    padding: 0 2rem;
}

.s-footer__subscribe #mc-form label i {
    padding-right: 6px;
}

/* -------------------------------------------------------------------
 * ## copyright
 * ------------------------------------------------------------------- */
.s-footer__bottom .s-footer__copyright span {
    display: inline-block;
}

.s-footer__bottom .s-footer__copyright span::after {
    content: "|";
    display: inline-block;
    padding: 0 1rem 0 1.2rem;
    color: rgba(255, 255, 255, 0.1);
}

.s-footer__bottom .s-footer__copyright span:last-child::after {
    display: none;
}

/* -------------------------------------------------------------------
 * ## go to top
 * ------------------------------------------------------------------- */
.go-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 600;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    -webkit-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
}

.go-top a, .go-top a:visited {
    text-decoration: none;
    border: 0 none;
    display: block;
    height: 5.4rem;
    width: 5.4rem;
    line-height: 5.4rem;
    text-align: center;
    background-image: url(../images/icons/icon-arrow-up.svg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px 16px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    text-transform: uppercase;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.go-top a:hover, .go-top a:focus {
    color: #FFFFFF;
    background-color: #0054a5;
}

.go-top.link-is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* -------------------------------------------------------------------
 * responsive:
 * footer components
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
    .s-footer__main > .row {
        max-width: 800px;
    }

    .s-footer__sitelinks, .s-footer__archives, .s-footer__social {
        margin-bottom: 3rem;
    }

    .s-footer__subscribe {
        clear: both;
    }

    .s-footer__bottom {
        text-align: center;
    }

}

@media only screen and (max-width: 600px) {

    .s-footer__main .row {
        max-width: 480px;
    }

    .s-footer__main h4 {
        padding-bottom: 0;
        margin-bottom: 2.4rem;
    }

    .s-footer__main h4::after {
        display: none;
    }

    .s-footer__main .s-footer__linklist {
        width: 80%;
        margin: 0 auto;
    }

    .s-footer__main .s-footer__linklist li a {
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.03);
        padding: .6rem 0;
    }

    .s-footer__main .s-footer__linklist li:first-child a {
        border-top: 1px solid rgba(255, 255, 255, 0.03);
    }

    .s-footer__sitelinks, .s-footer__archives, .s-footer__social, .s-footer__subscribe {
        text-align: left;
    }

    .s-footer__sitelinks, .s-footer__archives, .s-footer__social {
        margin-bottom: 4.2rem;
    }

    .s-footer__main .row [class*="col-"]:nth-child(2) {
        display: none;
    }

    .s-footer__bottom {
        padding-bottom: .6rem;
    }

    .s-footer__bottom .s-footer__copyright span {
        display: block;
    }

    .s-footer__bottom .s-footer__copyright span::after {
        display: none;
    }

}

/*Footer Ends*/

@media screen and (max-width: 1024px) {

    /*Sticky Navigation start*/
    #nav-content a {
        padding-left: 15px;
    }

    .sticky_navigation {
        display: none;
    }

    #span_button {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        z-index: 300;
        display: flex;
        position: fixed;
        border-width: 0px;
        background-color: rgba(0, 0, 0, 0.0);
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
        box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2), 5px 6px 40px 10px rgba(0, 0, 0, 0.19);
        width: calc(100% - 88px);
        top: 20px;
        transition: ease 3s;
        left: 50%;
        transform: translateX(-50%);
    }

    #span_logo {
        padding: 20px;
    }

    .overlay {
        z-index: 302;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        transition: 0.5s;
        background-color: #2f3542;
    }
    /*.blurred_overlay {*/
        /*position: absolute;*/
        /*width: 100%;*/
        /*height: 35%;*/
        /*top: 50%;*/
        /*transform: translateY(-89%);*/
        /*background: url("../../assets/bg/greenlagoon.jpg");*/
        /*filter: blur(10px);*/
    /*}*/

    .overlay.visible {
        opacity: .8;
        transform: translateY(0);
    }

    .overlay.visible + #span_button {
        background-color: transparent;
        z-index: 303;
    }

    .overlay.visible + #span_button .mobileTrigger {
        color: #ffffff;
        z-index: 303;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        text-align: center;
        margin-top: 30px;
        list-style: none;
    }

    .overlay a {
        padding: 20px 8px;
        text-decoration: none;
        display: block;
        transition: 0.3s;
        font-size: 24px;
        font-weight: 700;
        color: #ffffff;
        line-height: 24px;
        opacity: 1;
    }

    .overlay a:hover,
    .overlay a:focus {
        color: #FFFFFF;
        opacity: 1;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
        font-size: 30px;
    }


    .overlay ul, li{
        margin: 0 auto;
        width: 60%;
        padding: 0;
    }



    .overlay .closebtn {
        position: absolute;
        right: 45px;
        font-size: 60px;
        top: 20px;
    }

    .mobileTrigger {
        line-height: 1;
        width: auto;
        font-size: 16px;
        position: absolute;
        margin: 0;
        border: 0;
        display: block;
        padding: 20px;
        font-weight: 700;
        background: transparent;
        right: 0;
        z-index: 303;
        cursor: pointer;
    }

    .mobileTrigger:hover,
    .mobileTrigger:active,
    .mobileTrigger:focus {
        background: none;
        outline: none;
    }

    /* Nav toggle icon */
    .hamburger-icon {
        position: relative;
        display: inline-block;
        width: 22px;
        height: 19px;
        vertical-align: middle;
        fill: none;
    }

    /* styling the lines */
    .hamburger-icon > .line {
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 3px;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
        background-color: #000000;
    }

    /* three nice lines */
    .hamburger-icon > .line-1 {
        top: 0;
    }

    .hamburger-icon > .line-2 {
        top: 50%;
        margin-top: -1px;
    }

    .hamburger-icon > .line-3 {
        bottom: 0;
    }

    /* three nice lines animated to an X if active */
    .overlay.visible + #span_button .hamburger-icon .line-1 {
        transform: translateY(8px) translateX(0) rotate(45deg);
        background-color: #ffffff;
    }

    .overlay.visible + #span_button .hamburger-icon .line-2 {
        opacity: 0;
    }

    .overlay.visible + #span_button .hamburger-icon .line-3 {
        transform: translateY(-8px) translateX(0) rotate(-45deg);
        background-color: #ffffff;
    }
}

@media screen and (max-width: 768px) {
    #span_button {
        width: calc(100% - 60px);
    }
}

/*Sticky Navigation Ends*/


